{% extends 'timeline/base.html' %}
{% block content %}
    <div class="m-4 row justify-content-center">
        <div class="col-8">
            {% load crispy_forms_tags %}
            {% if user.is_authenticated %}
                <div class="m-4 card">
                    <div class="card-body">
                        <h2>Post about a book</h2>
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button type="submit" class="m-2 btn btn-primary">Add</button>
                        </form>
                    </div>
                </div>
            {% endif %}

                {% for post in posts %}
                    <div class="m-2 card">
                        {% if post.image %}<img class="card-img-top" src="{{ post.image.url }}" alt="Card image cap">{% endif %}
                        <div class="card-body">
                            <h4 class="card-title">{{ post.title }}</h4>
                            <h6 class="card-subtitle mb-2 text-muted">{{ post.author }}</h6>
                            <h6 class="card-subtitle mb-2 text-muted">{{ post.rating }}/10</h6>
                            <p class="card-text">
                                {{ post.review }}
                            </p>
                            <p class="card-text">
                                <a href="" class="card-link">{{ post.poster }}</a>
                                <small class="text-muted">{{ post.date_posted }}</small>
                            </p>
                            {% if user.is_authenticated %}
                                <input type="button"
                                       id="like_{{ post.pk }}"
                                       class="m-2 btn btn-primary"
                                       name="{{ post.pk }}"
                                       value="likes : {{ post.total_likes }}">
                                <input type="button"
                                       id="dislike_{{ post.pk }}"
                                       class="m-2 btn btn-primary"
                                       name="{{ post.pk }}"
                                       value="dislikes : {{ post.total_dislikes }}">
                                <a href="{% url 'comments' post.pk %}" class="m-2 btn btn-primary">Comment</a>
                            {% endif %}
                            {% if post.poster == user %}
                                <a href="{% url 'edit_post' post.pk %}" class=" m-2 btn btn-primary">Edit</a>
                            {% endif %}
                        </div>
                    </div>
                    {% if user in post.likes.all %}
                        <script type="text/javascript">$('#like_{{post.pk}}').removeClass("btn btn-primary").addClass("btn btn-success");</script>
                    {% endif %}
                    {% if user in post.dislikes.all %}
                        <script type="text/javascript">$('#dislike_{{post.pk}}').removeClass("btn btn-primary").addClass("btn btn-danger");</script>
                    {% endif %}
                    <script type="text/javascript">
                         $('#like_{{post.pk}}').click(function () {              
                             $.ajax({
                    type: "POST",
                    url: "{% url 'like' %}",
                    data: {
                        'post_pk': $('#like_{{post.pk}}').attr('name'),
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    dataType: "json",
                    success: function (response) {
                      


                        $('#like_{{post.pk}}').val('likes : ' + response['total_likes']);
                        $('#dislike_{{post.pk}}').val('dislikes : ' + response['total_dislikes'])

                        if (response['is_liked']) {
                            $('#like_{{post.pk}}').removeClass("btn btn-primary").addClass("btn btn-success")
                            $('#dislike_{{post.pk}}').removeClass("btn btn-danger").addClass("btn btn-primary")
                        }
                        if (!response['is_liked']) {
                            $('#like_{{post.pk}}').removeClass("btn btn-success").addClass("btn btn-primary")
                        }
                    },

                });
            })
                    </script>
                    <script type="text/javascript">
            $('#dislike_{{post.pk}}').click(function () {
                $.ajax({
                    type: "POST",
                    url: "{% url 'dislike' %}",
                    data: {
                        'post_pk': $('#dislike_{{post.pk}}').attr('name'),
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    dataType: "json",
                    success: function (response) {

                        $('#like_{{post.pk}}').val('likes : ' + response['total_likes']);
                        $('#dislike_{{post.pk}}').val('dislikes : ' + response['total_dislikes'])

                        if (response['is_disliked']) {
                            $('#dislike_{{post.pk}}').removeClass("btn btn-primary").addClass("btn btn-danger")
                            $('#like_{{post.pk}}').removeClass("btn btn-success").addClass("btn btn-primary")

                        }
                        if (!response['is_disliked']) {
                            $('#dislike_{{post.pk}}').removeClass("btn btn-danger").addClass("btn btn-primary")
                         
                        }

                    },

                });
            })
                    </script>
                {% endfor %}
            </div>
        </div>   
</div>
{% endblock content %}
