{% extends 'timeline/base.html' %}

{% block content %}


<div class="container">
    {% if user.is_authenticated %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form}}
        <button type="submit">Add</button>
    </form>
    {% endif %}
    {% for post in posts %}

    <div class="post_container">

        <div class="line1">
            <h3>{{post.poster}}</h3>
            <h4>{{post.date_posted}}</h4>
        </div>

        <div class="line2">
            <h3>{{post.title}}</h3>
            <h3>{{post.author}}</h3>
        </div>

        <div class="line2">
            <h4>{{post.rating}}/10</h4>
            <p>{{post.review}}</p>
        </div>

        {% if post.image %}
        <img src="{{ post.image.url}}" alt="">
        {% endif %}


        {% if post.poster == user %}
        <button><a href="{% url 'edit_post' post.pk %} ">Edit</a></button>
        {% endif %}

        {% if user.is_authenticated %}
        <button><a href="{% url 'comments' post.pk %} ">Comment</a></button>
        {% endif %}


        {% comment %} {% if user.is_authenticated %}

        <form action='{% url 'liking' post.pk %}' method='GET'>
            {% csrf_token %}

            <button class="{% if user in post.likes.all %}Liked{% endif %}" type="submit">{{post.likes.count}}
                Likes</button>

        </form>

        <form action='{% url 'disliking' post.pk %}' method='GET'>
            {% csrf_token %}
            <p></p>

            <button class="{% if user in post.dislikes.all %}Disliked{% endif %}" type="submit">{{post.dislikes.count}}
                Dislikes</button>

        </form>

        {% endif %} {% endcomment %}

        {% if user.is_authenticated %}

        <input type="button" id="like_{{post.pk}}" name="{{post.pk}}" value="likes : {{post.total_likes}}">

        <input type="button" id="dislike_{{post.pk}}" name="{{post.pk}}" value="dislikes : {{post.total_dislikes}}">



        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        {% if user in post.likes.all %}
        <script type="text/javascript">
            $('#like_{{post.pk}}').css("background-color", "rgb(255, 187, 0)");
        </script>
        {% endif %}



        {% if user in post.dislikes.all %}
        <script type="text/javascript">
            $('#dislike_{{post.pk}}').css("background-color", "rgb(91, 0, 181)");
            $('#dislike_{{post.pk}}').css("color", "rgb(255, 255, 255)");
        </script>
        {% endif %}





        <script type="text/javascript">
            $('#like_{{post.pk}}').click(function () {
                $.ajax({
                    type: "POST",
                    url: "{% url 'like' %}",
                    data: {
                        'post_pk': $('#like_{{post.pk}}').attr('name'),
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    dataType: "json",
                    success: function (response) {


                        $('#like_{{post.pk}}').val('likes : ' + response['total_likes']);
                        $('#dislike_{{post.pk}}').val('dislikes : ' + response['total_dislikes'])

                        if (response['is_liked']) {
                            $('#like_{{post.pk}}').css("background-color", "rgb(255, 187, 0)");
                            $('#dislike_{{post.pk}}').css("background-color", "rgb(255, 255, 255)");
                            $('#dislike_{{post.pk}}').css("color", "black");
                        }
                        if (!response['is_liked']) {
                            $('#like_{{post.pk}}').css("background-color", "rgb(255, 255, 255)");
                        }
                    },

                });
            })
        </script>


        <script type="text/javascript">
            $('#dislike_{{post.pk}}').click(function () {
                $.ajax({
                    type: "POST",
                    url: "{% url 'dislike' %}",
                    data: {
                        'post_pk': $('#dislike_{{post.pk}}').attr('name'),
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    dataType: "json",
                    success: function (response) {

                        $('#like_{{post.pk}}').val('likes : ' + response['total_likes']);
                        $('#dislike_{{post.pk}}').val('dislikes : ' + response['total_dislikes'])

                        if (response['is_disliked']) {
                            $('#dislike_{{post.pk}}').css("background-color", "rgb(91, 0, 181)");
                            $('#dislike_{{post.pk}}').css("color", "rgb(255, 255, 255)");
                            $('#like_{{post.pk}}').css("background-color", "rgb(255, 255, 255)");

                        }
                        if (!response['is_disliked']) {
                            $('#dislike_{{post.pk}}').css("background-color", "rgb(255, 255, 255)");
                            $('#dislike_{{post.pk}}').css("color", "black");
                        }

                    },

                });
            })
        </script>


        {% endif %}






    </div>

</div>
<br>
{% endfor %}



{% endblock content %}